*{
    margin: 0;
    padding: 0;
}

.container{
    width: 40%;
    margin-top: 50px;
    background-color: pink;
    border: none;
    padding: 30px;
    border-radius: 10px;
}

h2{
    text-align: center;
    color:black;
    font-weight: bold;
}


.form-group{
    display: flex;
    flex-direction: row;
    margin: 10px;
    width: auto;
    margin-top: 30px;
    
    
    
}

button{
    margin-left: 10px;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    padding: 1px;
    width: 25%;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}
 
.list{
    margin-top: 30px;
}
li{
    margin-bottom: 15px;
    margin-left: 12px;
    background-color: black;
    color: aliceblue;
    border: none;
    position: relative;
}
 
 span{
   position: absolute;
   top: 10;
   right: 0;  
 }
 .list-item-icons{
    margin-right: 15px;
    cursor: pointer;
 }

 #complete{
    color: green;
 }

 #edit{
    color: blue;
 }

 #delete{
    color:red
 }

 #todo{
   text-decoration: line-through;
   opacity: 0.3; 
 }